.second-Survey{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #fff;
}

.second-Survey-content{
    width: 50%;
    height: 100%;
}

.form2{
    width: 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
}


select{
    padding: 5px 20px;
    width: 350px;
}

.add-btn{
    display: flex;
    margin-right: -120px;
}

.page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.error{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}