.second-Survey{
    height: 100%;
    width: 100%;
}

.form2{
    width: 70%;
    height: 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
}

select{
    padding: 5px 20px;
    width: 350px;
}

.add-btn{
    display: flex;
    margin-right: -120px;
}

.page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}