.skill-experience{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    width: 350px;
}

.skillList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 100%;
}