.submittedForms{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.submittedForms-header{
    text-align: left;
    width: 80%;
    color: #FFFFFF;
    font-family: 'Rowdies', cursive;
    font-weight: 700;
    margin-top: 10px;
}

.person-info{
    height: auto;
    width: 80%;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.top-part{
    height: 50px;
    background: #F05039;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-part-text{
    color: #fff;
    margin-left: 40px;
}

.top-part-arrow{
    height: 20px;
    width: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.slider{
    background-color: #fff;
    height: 85%;
    width: 100%;
}


.skillSet-header, .personal-info-header{
    color: #F05039;
    text-decoration: underline;
    text-align: left;
}

.personal-info, .skillSet{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.skillSet{
    width: 310px;
}

.personal-info-list, .skillSet-list{
    display: flex;
    gap: 70px;
    text-align: left;
}

.skillSet-list{
    overflow: auto;
}

.personal-headers, .personal-infos, .submitted-skillList, .submitted-experienceList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-info{    
    display : flex;
    justify-content: space-around;
    padding-top: 40px;
    height: 100%;
}

.empty{
    width: 0;
    height: 0;
}

.submittedToMain{
    margin-top: 20px;
    background-color: #F05039;
    padding: 3px 30px;
    border-radius: 50px;
    outline: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
}