.submittedForms{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.submittedForms-header{
    text-align: left;
    width: 80%;
    color: #FFFFFF;
    font-family: 'Rowdies', cursive;
    font-weight: 700;
}

.person-info{
    height: 90%;
    width: 80%;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.top-part{
    height: 50px;
    background: #F05039;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-part-text{
    color: #fff;
    margin-left: 40px;
}

.top-part-arrow{
    height: 20px;
    width: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.slider{
    background-color: #fff;
    height: 90%;
    width: 100%;
}


.skillSet-header, .personal-info-header{
    color: #F05039;
    text-decoration: underline;
    text-align: left;
}

.personal-info, .skillSet{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personal-info-list, .skillSet-list{
    display: flex;
    gap: 70px;
    text-align: left;
}

.personal-headers, .personal-infos, .submitted-skillList, .submitted-experienceList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.full-info{    
    display : flex;
    justify-content: space-around;
    padding-top: 40px;
}

.empty{
    width: 0;
    height: 0;
}