.ThirdSurvey{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}